# <font color = 'dodgerblue'>**Introduction to Pandas**
Pandas is a powerful library for data manipulation and analysis in Python. It provides two main data structures: Series and Dataframes. In this crash course, we'll explore these foundational concepts through hands-on exercises.

## <font color = 'dodgerblue'>**Importing Pandas**
Let's start by importing Pandas.

In [1]:
import pandas as pd

## <font color = 'dodgerblue'>**Creating Pandas Series**
A Pandas Series is a one-dimensional array with indexed data. Let's create a Series from a Python list.

In [2]:
series = pd.Series([10, 20, 30, 40])
series

0    10
1    20
2    30
3    40
dtype: int64

## <font color = 'dodgerblue'>**Creating Pandas Dataframes**
A Dataframe is a two-dimensional array with flexible row indices and column names. Let's create a Dataframe from a dictionary.

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

## <font color = 'dodgerblue'>**Basic Data Manipulation**
We can perform various operations like selecting, filtering, and sorting data. Let's explore some of these.

In [ ]:
# Selecting a column
names = df['Name']

# Filtering data
filtered_df = df[df['Age'] > 30]

# Sorting data
sorted_df = df.sort_values('Age', ascending=False)

names, filtered_df, sorted_df

(0      Alice
 1        Bob
 2    Charlie
 Name: Name, dtype: object,
       Name  Age     City
 2  Charlie   35  Chicago,
       Name  Age         City
 2  Charlie   35      Chicago
 1      Bob   30  Los Angeles
 0    Alice   25     New York)

## <font color = 'dodgerblue'>**Using `loc` for Label-Based Indexing**
The `loc` method allows us to select rows and columns by label. Let's select the row with index label 1 and specific columns by their names.

In [ ]:
# Selecting the row with index label 1 and columns 'Name' and 'Age'
selected_data_loc = df.loc[1, ['Name', 'Age']]
selected_data_loc

Name    Bob
Age      30
Name: 1, dtype: object

## <font color = 'dodgerblue'>**Using `iloc` for Integer-Based Indexing**
The `iloc` method allows us to select rows and columns by integer index. Let's select the second row (index 1) and the first two columns (indices 0 and 1).

In [ ]:
# Selecting the second row and the first two columns by integer index
selected_data_iloc = df.iloc[1, [0, 1]]
selected_data_iloc
data_iloc = df.iloc[[0,1],1]
data_iloc

0    25
1    30
Name: Age, dtype: int64

## <font color = 'dodgerblue'>**Interactive Exercise: Simple Data Analysis with Products Dataset** </font>
In this exercise, we'll perform some basic data analysis on a sample products dataset.

### Task
1. Load the `products.csv` file.
2. Explore the first few rows of the dataset.
3. Filter the products based on a specific category (e.g., 'Electronics').
4. Compute basic statistics like mean price and total quantity for the filtered category.
5. Get the mean price for each category

Let's start coding!

### <font color = 'dodgerblue'>**Mount Google Drive**

In [ ]:
# mount google drive
# so that we can save and load models/data from google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# library to navigate file system
from pathlib import Path

In [ ]:
# check current director
!pwd

/content

If we do not provide specific location, files are saved in current directory. When we close Google Colab, these files will be lost. Thus we should save files/models on google drive.

### <font color = 'dodgerblue'>**Specify the folder wherethe file is saved**

In [ ]:
# here I have saved save my data to folder Data in my Google drive. /content/drive/MyDrive refers to
# path where google drive is mounted. /teaching_fall_2022 is folder in my Google drive.
# You should change this to folder you want to save data in your your Google drive

# specify pathlib folder
# This is a system Path(PosixPath)

data_folder = # code here

### <font color = 'dodgerblue'>**Complete the Task**

In [ ]:
# Loading the products dataset from the CSV file

In [ ]:
# Exploring the first few rows

In [ ]:
# Filtering products based on the 'Electronics' category

In [ ]:
# Computing basic statistics for the 'Electronics' category
mean_price_electronics = # code here
total_quantity_electronics = # code here

mean_price_electronics, total_quantity_electronics

(550.0, 25)

In [ ]:
# Grouping by category and computing the mean price
category_mean_price = # code here

category_mean_price

Category
Electronics    550.0
Furniture       75.0
Stationery       1.0
Name: Price, dtype: float64

## <font color = 'dodgerblue'>**Pivot Tables**
Pivot tables provide a way to summarize data in a tabular form. Let's create a pivot table to analyze the mean price by category.

In [ ]:
# Creating a pivot table
pivot_table = products_dataset.pivot_table(values='Price', index='Category', aggfunc='mean')
pivot_table

             Price
Category
Electronics    550
Furniture       75
Stationery       1

## <font color = 'dodgerblue'>**Merge Operations**
Merge operations allow us to combine datasets. Let's create a new DataFrame and merge it with our existing one.

In [ ]:
# New DataFrame for merging
discounts = pd.DataFrame({
    'Category': ['Electronics', 'Furniture'],
    'Discount': [0.1, 0.05]
})

# Merging DataFrames
merged_df = pd.merge(products_dataset, discounts, on='Category', how='left')
merged_df

  Product Name     Category  Price  Quantity  Discount
0       Laptop  Electronics    800        10      0.10
1        Chair    Furniture     50        20      0.05
2          Pen   Stationery      1       100       NaN
3        Phone  Electronics    300        15      0.10
4        Table    Furniture    100         5      0.05

The `pd.merge` function is a powerful feature in Pandas that allows you to combine two DataFrames based on a common column or index. In the given code snippet, `merged_df = pd.merge(products_dataset, discounts, on='Category', how='left')`, two DataFrames (`products_dataset` and `discounts`) are being merged.

Here's a detailed explanation of the code:

### Parameters

- **`products_dataset`**: The first DataFrame to be merged. It presumably contains information about various products, including a 'Category' column.
- **`discounts`**: The second DataFrame to be merged. It should contain discount information for different categories, also including a 'Category' column.
- **`on='Category'`**: Specifies the common column ('Category') on which the two DataFrames will be merged. Both DataFrames must have a column with this name.
- **`how='left'`**: Specifies the type of merge to be performed. A 'left' merge includes all the rows from the first DataFrame (`products_dataset`) and the matched rows from the second DataFrame (`discounts`). If there's no match, the result will have `NaN` for the columns of the second DataFrame.

### Result

The `merged_df` DataFrame will contain all the columns from both `products_dataset` and `discounts`. Rows from `products_dataset` will be matched with rows from `discounts` based on the 'Category' column. If a category in `products_dataset` doesn't have a corresponding entry in `discounts`, the columns from `discounts` will be filled with `NaN` for that category.

## <font color = 'dodgerblue'>**Interactive Exercise: Advanced Data Analysis** with Products Dataset
In this exercise, we'll dive into advanced data analysis techniques using Pandas on a products dataset.

### Task 1: Load the Products Dataset
- Load the `products.csv` file into a DataFrame.
- Display the first 3 rows to understand the structure of the data.

### Task 2: Analyze Products by Category
- Group the products by the 'Category' column.
- Calculate the mean price and total quantity for each category.

### Task 3: Create a Pivot Table
- Create a pivot table to show the mean price of products for each category.

### Task 4: Merge Additional Data
- Assume you have a DataFrame `discounts` with discount information for some categories.
- Merge it with the products dataset using a left join on the 'Category' column.
- Calculate the final price after applying the discount.

Let's start coding!

In [ ]:
# Task 1: Load the Products Dataset
import pandas as pd
products_dataset = pd.read_csv(data_folder/'products.csv')
# diplay first three rows

NameError: ignored

In [ ]:
# Task 2: Analyze Products by Category
category_analysis = # code here
category_analysis

In [ ]:
# Task 3: Create a Pivot Table
pivot_table = # code here
pivot_table

In [ ]:
# Task 4: Merge Additional Data (example discounts DataFrame)
discounts = pd.DataFrame({
    'Category': ['Electronics', 'Furniture'],
    'Discount': [0.1, 0.05]
})
merged_df = # code here
merged_df

In [ ]:
# calculate final price